<!DOCTYPE html>
<html>
<head>
  <title>Twinkieandkaren</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<% if flash[:notice] %>
  <% flash[:notice].each do |notice| %>
    <%= notice %>
  <% end %>
<% end %>

<%= (button_to "Log Out!", session_url, method: 'delete') if logged_in? %>

<% if !logged_in? %>
  Please log in.
<% end %>

<%= yield %>

</body>
</html>
